@{
    ViewData["Title"] = "Accepted File Formats";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
        <p>
            Images:
        </p>
        <ul>JPEG</ul>
        <ul>GIF</ul>
        <ul>PNG</ul>
        <p>
            For best quality, JPEG and PNG files that are 72 dpi, compressed at 60pts or higher is recommended.
        </p>
        <br />
        <p>
            Videos:
        </p>
        <ul>MPEG</ul>
        <ul>MPG</ul>
        <ul>GT</ul>
        <ul>ASF</ul>
        <ul>AVI</ul>
        <ul>FLV</ul>
        <ul>M4V</ul>
        <ul>MOV</ul>
        <ul>MP4</ul>
        <ul>M4A</ul>
        <ul>3GP</ul>
        <ul>3G2</ul>
        <ul>MJ2</ul>
        <ul>WMV</ul>
        <p>
            All videos are converted to FLVs and are played back using a Flash-based player.
        </p>
        <br />
        <p>
            Audio:
        </p>
        <ul>MP3</ul>

    </section>
    <br /><br /><br />
</div>
