@{
    ViewData["Title"] = "Attract Employers";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
    <h2>1. Uniquiness</h2><br />
    <p>
        In a way, 2 or more candidates can be competing for a job at any given time. Essentially, the job applicants are in competition with each other to win the job at a better salary and designation. Hence, each candidate is trying to prove uniqueness! We should try to answer the questions mentioned below to bring out the uniqueness in our resume.
    </p>
    <ul>
        Why should the employer hire me? The employer will hire you for your skills and the ability to develop professionally. In other words: Soft Skills and Hard Skills. Skills could be highlighted as strengths in the resume.
    </ul>
    <ul>
        In addition, your career objective can also have a brief description of the skills that you have. So for instance, your employer may consider your profile because you have done a certain project in the past using a specific software, or because you are conversant with the Spanish language.Now, that we have noted the hard skills, let us look at the soft skills. Your ability to develop and contribute in a team of amiable subordinates will decide if you can perform in a fast-paced and vibrant work environment.
        This is usually a ‘given’ but it is best to highlight your experience of team work as it does add value to your candidature. If you are a great team player and if you like working in teams, then you don’t want to appear as an individual contributor.
    </ul>
    <ul>
        Does the C.V. talk about my skills adequately? There are a couple of things which can be considered to answer this question. Firstly, any experience can turn out to be valuable to your profile. For example: a 3 month internship experience with an organization should not be ignored just because it is a small duration experience. Secondly, it is also necessary to mention about the level of your expertise. A case would be your knowledge of German is of intermediate level.
    </ul>
    <ul>
        What is irrelevant about my C.V.? Please don’t mention unnecessary things! If you are applying for a sales job, the interviewer does not need to know about how good are you with taking care of the elderly? However, this piece of information that you are good care-taker of the elderly could be important, if you have applied for the job of a steward or air hostess.
    </ul>
    <ul>
        Why do you want to work with a specific employer? There is no objective answer to this question because more so, it is a question that is asked to know about the applicant’s awareness and general knowledge. For instance: you don’t walk in for an interview without doing any research about the company background or even worse – forgetting the name of the company. In the resume document, it is good to mention your knowledge about the industry in the ‘career objective section’.One thing you could mention is: “I aspire to begin my career by working for a mid-sized knowledge management company to gain better career growth prospects”.You do not necessarily get high level of appreciation by the employer for mentioning this perspective, but it certainly shows that ‘you know what you are doing’.Is there ‘too much’ or ‘too less’ that I can offer the employer?  You should also check, if you are over-qualified or under-qualified for the job. In case, you have PhD level of knowledge in the employer’s industry, but the employer needs someone with graduate degree knowledge, then it would be ideal to mention in the cover letter a line or two to back you up. It could be something like this: “I look forward to grow as a specialist in the insurance industry by leveraging on my high specialized knowledge in the field of P&C insurance”.
    </ul>
    <br /><br />
    <h2>2. Learning From The Job Description</h2><br />
    <ul>
        A job description contains specific keywords about the required candidature for the job. For example, the keywords for a Data Scientist profile would be: Data science, big data, data mining, statistics, predictive modeling, machine learning, statistical modeling, regression, SQL.  Keywords describe the intended profile of the candidate and the skills required for the job. Keywords make a particular type of job or candidature searchable on the Internet. The job applicant should ideally make a note of these keywords and study them before the interview. It is also good to mention some of the keywords in the cover letter and resume but it should not look like you have tried to copy the job description.
    </ul>
    <br /><br />
    <h2>3. Applying A Consistent Structure</h2><br />
    <ul>
        It is important to apply a consistent structure to your resume document. A structure is inclusive of grammatical and formatting elements such as: word spacing, font size, highlighting elements – underline, bold, italic; use of table, text box and so on. A small example of consistency: if you are using Times New Roman, Bold, Size 12 Font for Headings in the resume for writing the title ‘Career Objective’ then it should be followed for all titles such as ‘Education’, ‘Job Details’ and so on.
    </ul>
    <br /><br />
    <h2>4. Value-addition Through Validation Of Performance</h2><br />
    <ul>
        The job applicant should remember to validate skills, experience and professional qualifications with use of a certification logo, name of the degree and ex-employer testimonials. Employer testimonial letters can be presented at a later stage that is during the interview.  You cannot use the CPCU (Chartered Property & Casualty Underwriter) qualification in the insurance industry unless you are fully certified as a CPCU by the institute.
    </ul>
    <ul>
        It is considered as an achievement when you receive a competitive certification. But you should know the exact protocol before writing a qualification name on the resume. You should not over-use a logo or certification name. It is okay to mention it once.
    </ul>
    <br /><br />
    <h2>5. Remember The Purpose Of Writing A Resume</h2><br />
    <ul>
        A resume connotes the candidate’s prima facie market value in the industry in terms of quality of expertise, experience and salary. In other words, the resume is a preliminary measure of your competence. Hence, it is essential to know the purpose of writing a resume.
    </ul>
    <ul>
        An employer can gauge the following from your resume:
        <ul>Your ability to plan your career.</ul>
        <ul>The career path that you intend to pursue.</ul>
        <ul>Your level of clarity about the career path.</ul>
        <ul>The correctness of the decisions taken by you regarding the educational qualifications and job experience pursued by you.</ul>
    </ul>
    <br /><br /><br />
    </section>
</div>
