@{
    ViewData["Title"] = "Essential Steps";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
        <h2>Get Started Today!</h2><br />
        <ul>1. Register.</ul>
        <ul>2. Login.</ul>
        <ul>3. Choose a template.</ul>
        <ul>4. Add content.</ul>
        <ul>5. Upload and curate your collection of work.</ul>
        <ul>6. Optimize your files – please see: Formatting Images.</ul>
        <ul>7. Design and customize your AZ E-Portfolio.</ul>
        <ul>8. Keep your current theme or switch between themes until you find one that compliments your work. </ul>
        <ul>9. Brand your site with a Logo, Masthead, and Fonts.</ul>
        <ul>10. Create a domain name.</ul>
        <ul>11. Preview your site to see what it will look like on different devices.</ul>
        <ul>12. Publish your AZ E-Portfolio.</ul><br /><br /><br />
    </section>
</div>
