@{
    ViewData["Title"] = "Formatting Images";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
        <h2>Image Renditions</h2><br />
        <p>
            Resolution: when you upload images to Adobe Portfolio, they are displayed at their full resolution.
        </p>
        <p>
            Sizing: different versions of that image are generated, each with a different width. The height changes relative to the width to preserve the image's aspect ratio.
        </p>
        <p>
            Selection of the appropriate image size based on your visitor's screen size. The biggest rendition generated is 3840px for retina displays on 1920px wide screens and 4k as well.
        </p>
        <p>
            Your image may display larger or smaller on your site depending on your:
        </p>
        <ul>Website Container</ul>
        <ul>Page Container</ul>
        <ul>Max-image width within customizations (if applied)</ul><br /><br />
        <h2>File Formats</h2><br />
        <p>
            The following are accepted::
        </p>
        <ul>JPEG</ul>
        <ul>GIF</ul>
        <ul>PNG </ul><br /><br />
        <h2>Best practices</h2><br />
        <ul>Save images in RGB color mode.</ul>
        <ul>Images can be up to 50MB but uploading them at 20MB or lower is recommended.</ul>
        <ul>Keep in mind that larger images can impact site performance.</ul>
        <ul>Uploading images that are the size of the container they're filling, or at most 2x that dimension for Retina resolution is recommended.</ul>
        <ul>Uploading cover images that are below 1MB is recommended.</ul>

        <br />
    </section>
    <br /><br />
</div>
