@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Shape your professional portfolio using our AZ templates.</h2>
    <br />
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</section>
<br />
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/Images/animated_gif.gif" class="d-block w-100" alt="securecontentAtoZ">
            <div class="carousel-caption d-none d-md-block">
                <h5>Showcase your work from A to Z</h5>
                <p>Represent your content securely with AZ E-Portfolio.</p>
            </div>
        </div>
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/Images/orangeslide.png" class="d-block w-100" alt="SFF">
            <div class="carousel-caption d-none d-md-block">
                <h5>Simple, Fast and Free</h5>
                <p>Building a portfolio online has never been easier.</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="/Images/bluebgtablet.png" class="d-block w-100" alt="getinspired">
            <div class="carousel-caption d-none d-md-block">
                <h5>Get Inspired</h5>
                <p>Anything you can design, you can design better.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<br />
<section class="text-center">
    <br /><br />
    @*Tips&Tricks*@
    <div class="text-center">
        <h2 class="display-3">Tips and Tricks</h2>
    </div>
    <br />
    @*loading*@
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <img src="/Images/1writeabetterbio.png" class="d-block w-100" alt="betterbio">
                <a href="Home/WriteBetterBio" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn more ></a>
            </div>
            <div class="col text-center">
                <img src="/Images/2essentialsteps.png" class="d-block w-100" alt="essentialsteps">
                <a href="Home/EssentialSteps" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn more ></a>
            </div>
            <div class="col text-center">
                <img src="/Images/3promoteyourself.png" class="d-block w-100" alt="promoteyourself">
                <a href="Home/PromoteYourself" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn more ></a>
            </div>
            <div class="col text-center">
                <img src="/Images/4attractemployers.png" class="d-block w-100" alt="attractemployers">
                <a href="Home/AttractEmployers" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn more ></a>
            </div>
        </div>
        <br />
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</section>
<br />

<br />
<br />
<br />
<br />
<br />
<br />