@{
    ViewData["Title"] = "Promote Yourself";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
        <h2>Best Ways To Market Yourself</h2><br />
        <p>
            All good marketing is about establishing the needs of your target audience and positioning your brand to meet with their demands. It’s exactly the same for a job candidate – you must offer the ideal solution; the perfect package.
        </p>
        <ul>
            1. Identify a target audience
            <br />
            <p>Understand your potential employers inside out. Do as much research as possible to help identify the ethos of the organisation and the skills, personality and knowledge they value highly. Use the job description and person specification as a firm basis for their needs and try to work out how this role will fit into the company’s bigger picture.</p>
        </ul>
        <ul>
            2. Know your USP
            <br />
            <p>The term USP (unique selling point) is often bandied around in sales and marketing departments up and down the country. This refers to the niche factor that makes a product or brand desirable and different from its competitors. Understand your own USP - it could be your specialist training or a unique combination of past experience and personal interests. Once you’ve honed in on your USP, make sure you let future employers know about it.</p>
        </ul>
        <ul>
            3. Terminology
            <br />
            <p>Your terminology can be important when applying for a new role. Understand what key phrases and buzz words are particularly sought-after by potential employers in your industry. Certain jobs in specific sectors may look out for particular skills and training. If these buzz words genuinely apply to you, use them.</p>
        </ul>
        <ul>
            4. Personality
            <br />
            <p>Don’t be afraid to add a personal touch to your application. Nobody is solely a collection of professional skills and employers may be keen to see a more human side. Your interests, passions and personal skills will be part of the whole package- so don’t forget to market yourself as a well-rounded individual.</p>
        </ul>
        <ul>
            5. Use The Web
            <br />
            <p>The web has made it easier than ever to promote yourself. Social networking sites such as LinkedIn and twitter now give you direct, accessible channels of communication through which to network and uncover new opportunities.</p>
        </ul>
        <br /><br /><br />
    </section>
</div>
