@{
    ViewData["Title"] = "Supported Browsers and Devices";
}

<div class="container">
    <section>
        <h1>@ViewData["Title"]</h1><br />
    </section>
    
    <section>
        <p>You can use the following browsers to edit and view your AZ E-Portfolio:</p>
        <ul>Chrome - for PC, Mac</ul>
        <ul>Firefox - for PC, Mac</ul>
        <ul>Safari - for Mac only</ul>
        <ul>Microsoft Edge - for PC only</ul><br /><br />
        <p>Note:</p>
        <ul>For optimal editing experience, edit your site on a desktop</ul>
        <ul>The two most recent versions of each browser mentioned above are supported</ul>
        <ul>Your version of Safari and Microsoft Edge depends on your device's operating system</ul>
        <br />
    </section>
</div>
