@{
    ViewData["Title"] = "Terms and Conditions";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
        <p>
            This section describes the moral terms of this software service (ethical considerations in computing). Normal standards of honesty and integrity are to be followed such as confidentiality, competence, and intellectual property rights. The user has legal rights in respect to his personal data and how it is processed on AZ e-Portfolio. What data is collected? Full name, ID, DOB, Genre, e-mail address and password. This information will be used to verify accounts and activity. In the developer’s legitimate interests, AZ e-Portfolio seeks to prevent and detect hackers from accessing the users account details maintaining the user’s personal data safe and secure.
        </p>
        <p>
            By registering, the user agrees with the Software Engineering Code of Ethics of organisations such as ACM, the IEEE and the British Computer Society.
        </p>
        <br />
        <div>
            <img src="/Images/TnC.png" class="d-block w-75" alt="tnc">
        </div>
        <br />
        <p>
            References in brackets identify where the Password Policy for authenticating to AZ e-Portfolio service, where the policy meets requirements for establishing secure techniques from the Information Security Forum, ISO/IEC 27001:2013. (ISF: 2014 – CF6.3.2, 2020)( ISO27001: 2013 – A.9.2.1, 2020).
        </p>
    </section>
    <br /><br /><br />
</div>
