@{
    ViewData["Title"] = "Video Renditions";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
        <p>
            Maximum of 3 renditions for any input videos by maintaining the original aspect ratio:
        </p>
        <p>
            <ol>360p: 640X360</ol>
            <ol>576p: 1024X576</ol>
            <ol>720p: 1280X720</ol>
        </p>
        <br /><br />
        <h2>Other Technical Info</h2><br />
        <p>
            For maximum quality, uploading videos at 1280x720 is recommended.
        </p>
        <p>
            Videos will not display full bleed when uploaded directly. For more control over this, embedding your videos with Youtube or Vimeo is recommended.
        </p>
        <br /><br /><br />
    </section>
</div>
