@{
    ViewData["Title"] = "Write a Better Bio";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
        <h2>Take Your Bio To A Professional Level</h2><br />
        <p>
            Professional sites like LinkedIn, AngelList, or a speaker bio on an event site all have space for a bio or summary section. For each of these, you’ll probably want to write a mid-length description of both your current role, professional aspirations, and biggest achievements. Professional bios allow you to go into a bit more detail than short social media bios, especially on LinkedIn. It’s generally a good idea to include:
        </p>
        <ul>
            Your name
        </ul>
        <ul>
            Your current role or professional tagline
        </ul>
        <ul>
            Your company or personal brand
        </ul>
        <ul>
            Your goals and aspirations
        </ul>
        <ul>
            Your 2-3 most impressive and relevant achievements
        </ul>
        <ul>
            One quirky fact about you (if it’s appropriate to the site)
        </ul>
        <ul>
            What to Include in a Bio at Work
        </ul>
        <p>You should include anything you’d include in a professional bio in a bio for your company, but don’t be afraid to personalize it with a few personal details. Have a hobby you love? A favorite book? A professional hero you look up to? Add them to give your coworkers a sense of who you are before they work with you.</p>
        <br /><br />
        <h2>What to Include in a Bio On Your E-Portfolio</h2><br />
        <p>
            The “About” section of any E-Portfolio can be a slog. A drain. A hassle. You’ve already created a whole website about yourself, so it can be difficult to master the strength to write that final description of who you are and what you’re about.
        </p>
        <p>
            Your E-Portfolio bio doesn’t need to be complicated, it just needs context on who you are and what you’ve done. This is an open, larger space, so you have room to list a few accomplishments and give context on why they’re important. You can also add a short paragraph about who you are outside of your nine-to-five. For this type of bio, you may also want to include a contact form or email, to help prospective clients, employers, or collaborators get in touch. If you do, be sure to include a clear call-to-action for your reader to contact you.
        </p>
        <br />
        <br />
        <br />
    </section>
</div>