@model AZ_EPortfolio.Models.Template

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Template</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PortfolioId" class="control-label"></label>
                <select asp-for="PortfolioId" class ="form-control" asp-items="ViewBag.PortfolioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TemplateType" class="control-label"></label>
                <select asp-for="TemplateType" class="form-control"></select>
                <span asp-validation-for="TemplateType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <textarea asp-for="Summary" class="form-control"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillTags" class="control-label"></label>
                <input asp-for="SkillTags" class="form-control" />
                <span asp-validation-for="SkillTags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <textarea asp-for="Resume" class="form-control"></textarea>
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <textarea asp-for="Education" class="form-control"></textarea>
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
