@{
    ViewData["Title"] = "Templates Gallery";
}

<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <section>
        <p>
            Build your AZ E-Portfolio in minutes. Preview and pick a theme.
        </p>
    </section>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/Images/FullStackTemplatePreview1.png" class="card-img-top" alt="fullstacktemplatepreview">
            <div class="card-body">
                <h5 class="card-title">Full Stack Dev</h5>
                <p class="card-text">This is a dynamic and responsive theme suitable for Full Stack Developer's content.</p>
                <a href="http://findmatthew.com/" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="card h-100">
            <img src="/Images/SoftwareEngineerPreview2.png" class="card-img-top" alt="softwaredevelopertemplatepreview">
            <div class="card-body">
                <h5 class="card-title">Software Engineer</h5>
                <p class="card-text">This is a responsive theme suitable for Software Engineer's content.</p>
                <a href="https://ejosue.com/" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="card h-100">
            <img src="/Images/UIUX3.png" class="card-img-top" alt="UIUXtemplatepreview">
            <div class="card-body">
                <h5 class="card-title">UI/UX Developer</h5>
                <p class="card-text">This is a skills and experience focused theme suitable for UI/UX Developer's content.</p>
                <a href="https://technext.github.io/meetme/index.html" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="card h-100">
            <img src="/Images/startup6.png" class="card-img-top" alt="fullstacktemplatepreview">
            <div class="card-body">
                <h5 class="card-title">Full Stack Dev</h5>
                <p class="card-text">This is a dynamic and responsive theme suitable for Full Stack Developer's content.</p>
                <a href="https://technext.github.io/meetme/index.html" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="card h-100">
            <img src="/Images/FullStackTemplatePreview8.png" class="card-img-top" alt="fullstacktemplatepreview">
            <div class="card-body">
                <h5 class="card-title">Full Stack Dev</h5>
                <p class="card-text">This is a dynamic and responsive theme suitable for Full Stack Developer's content.</p>
                <a href="http://findmatthew.com/" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="card h-100">
            <img src="/Images/mobiledeveloper9.png" class="card-img-top" alt="fullstacktemplatepreview">
            <div class="card-body">
                <h5 class="card-title">Mobile Developer</h5>
                <p class="card-text">This is a theme suitable for mobile Developer's to showcase work content.</p>
                <a href="https://www.free-css.com/free-css-templates/page255/apps-imobil" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="card h-100">
            <img src="/Images/minimalistic7.png" class="card-img-top" alt="fullstacktemplatepreview">
            <div class="card-body">
                <h5 class="card-title">Minimalistic Dev</h5>
                <p class="card-text">This is a minimalistic and responsive theme suitable to showcase a Junior Developer's content.</p>
                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="card h-100">
            <img src="/Images/brandingpackagedesign4.png" class="card-img-top" alt="brandingtemplatepreview">
            <div class="card-body">
                <h5 class="card-title">Package Design</h5>
                <p class="card-text">This is a responsive theme suitable for Branding Designer's content.</p>
                <a href="https://smirapdesigns.com/" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="card h-100">
            <img src="/Images/GraphicDesigner5.png" class="card-img-top" alt="graphicdesignertemplatepreview">
            <div class="card-body">
                <h5 class="card-title">Graphic Designer</h5>
                <p class="card-text">This is a fully responsive theme suitable for showcase Graphic Designer's work content.</p>
                <a href="https://portfolio.adobe.com/start" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Preview ></a>
            </div>
        </div>
    </div>
    <br /><br /><br />
